body {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  margin: 0;
}

section.mobile {
  width: 414px;
}

section > .container {
  max-width: 1140px;
  /* display: flex; */
}

.tiktokqr-container {
  background-image: url("/Users/nurfuad/Desktop/tiktok_ui/mobile-ui/SVG/others/Frame.png"),
    url("/Users/nurfuad/Desktop/tiktok_ui/mobile-ui/SVG/qrbg.png");
  background-repeat: no-repeat;
  background-position: top;
  height: 896px;
  display: flex;
  flex-direction: column;
}

.topbar {
  /* border: 2px solid white; */
  display: flex;
  justify-content: space-between;
  line-height: 1px;
}

.timenum {
  display: flex;
  /* border: 2px solid green; */
  margin-left: 23.18px;
  line-height: 17.9px;
  margin-top: 13px;
}
.righttopbar {
  display: flex;
  /* border: 2px solid red; */
  justify-content: space-around;
  margin-right: 16px;
  height: 10.5px;
  margin-top: 17px;
}

.signal {
  margin-right: 5.55px;
}

.wifi {
  margin-right: 9.61px;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 26px;
  margin-left: 18px;
}

.scan {
  font-size: 16px;
  line-height: 19px;
}

.photos {
  font-size: 14px;
  line-height: 17px;
  margin-right: 15px;
}

.back {
  height: 18px;
}

.midbox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 248px;
  flex-direction: column;
}
.QRtxt {
  display: flex;
  font-size: 13px;
  line-height: 16px;
  margin-top: 16px;
}

.footer {
  display: flex;
  justify-content: center;
  margin-top: 183.67px;
  flex-direction: column;
}

.ttcode {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.qr {
  display: flex;
  width: 27.5px;
  height: 27.58px;
  margin-bottom: 6.78px;
}

.mytikcode {
  display: flex;
  font-size: 12px;
  line-height: 15px;
}

.slider {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 5px;
  margin-top: 43px;
  /* margin-bottom: 10px; */
}
