body {
  font-family: "Poppins", sans-serif;
  color: white;
  margin: 0;
}

section.mobile {
  width: 414px;
  /* border: black 2px solid; */
}

section > .container {
  max-width: 1140px;
  /* display: flex; */
}

.tiktokshare-container {
  background-image: url("/Users/nurfuad/Desktop/tiktok_ui/mobile-ui/SVG/others/Backgroundsharebg.png"),
    url("/Users/nurfuad/Desktop/tiktok_ui/mobile-ui/SVG/others/Backgroundsharetooptsbg.png"),
    url("/Users/nurfuad/Desktop/tiktok_ui/mobile-ui/SVG/guitarbg.png");
  background-repeat: no-repeat;
  background-position: bottom, center bottom 82.67px;
  height: 896px;
  display: flex;
  flex-direction: column;
}

.topbar {
  /* border: 2px solid white; */
  display: flex;
  justify-content: space-between;
  line-height: 1px;
}

.timenum {
  display: flex;
  /* border: 2px solid green; */
  margin-left: 23.18px;
  line-height: 17.9px;
  margin-top: 13px;
}
.righttopbar {
  display: flex;
  /* border: 2px solid red; */
  justify-content: space-around;
  margin-right: 16px;
  height: 10.5px;
  margin-top: 17px;
}

.signal {
  margin-right: 5.55px;
}

.wifi {
  margin-right: 9.61px;
}

.contentopts {
  display: flex;
  justify-content: space-evenly;
  /* width: 153px;
     */
}

.following {
  position: absolute;
  width: 70px;
  height: 19px;
  left: 132px;
  top: 57px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 19px;
}

.followline {
  width: 0px;
  height: 11px;
  position: absolute;
  left: 214.5px;
  top: 60.5px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.foryou {
  font-size: 18px;
  position: absolute;
  text-align: center;
  letter-spacing: 0.1px;
  line-height: 22px;
  height: 22px;
  left: 223px;
  top: 55px;
  display: flex;
}

.rightopts-container {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  /* why */
  height: auto;
  width: auto;
  /* why */
  margin-top: 433px;
  margin-left: 360px;
  margin-bottom: auto;
}

.pfp {
  margin-bottom: 22.5px;
}

.pfp,
.heart {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shareto-container {
  display: flex;
  margin-top: 566px;
  /* change */
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  /* justify-content: space-between; */
}

.shareto {
  display: flex;
  width: 100%;
  /* justify-content: space-between; */
}
.headshareto {
  display: flex;
  flex-direction: column;
  color: #161722;
  font-size: 13px;
  line-height: 16px;
}

.shareto > .shareopts {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 21px;
  justify-content: space-around;
}

.iconsnlabels > span,
.actionslabels > .lbl {
  font-size: 11px;
  line-height: 13px;
  color: #4e4f57;
  margin-top: 9px;
}
.iconsnlabels {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50px;
  text-align: center;
}

.wpp,
.actionscirclediff {
  margin-top: 13px;
}

.arrowmsg {
  background: #ea4359;
  border-radius: 50%;
  height: 49px;
  width: 49px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconsnlabels > img {
  height: 49px;
  width: 49px;
}

.separator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}

/* .wpp {
  margin-top: 100px;
} */
/* .shareopts > li {
  display: flex;
  width: 100%;
}

.shareopts {
  display: flex;
  flex-direction: row;
} */

/* .shareopts > ul {
  display: flex;
  flex-direction: row;
} */
/* .msgicon {
  border: white 2px solid;
  display: flex;
  width: 49px;
  height: 49px;
} */

.actionscircle,
.actionscirclediff {
  background-color: #e8e8e7;
  border-radius: 50%;
  height: 47px;
  width: 47px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 14px;
}

.actionopts {
  display: flex;
  flex-direction: row;
  padding-left: 21px;
  justify-content: space-between;
}

.actionslabels {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-left: 10px;
  justify-content: space-around;
  text-align: center;
  align-items: center;
}

.lbl {
  width: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footerclose {
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.cancel {
  display: flex;
  justify-content: center;
  color: #161722;
  font-size: 15px;
  line-height: 18px;
  margin-top: 16px;
  margin-bottom: 35px;
}

.slider {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 5px;
  margin-bottom: 10px;
}

/* .redmsg {
  position: absolute;
  top: 30px;
  left: 30px;
  border: 1px solid #000000;
  z-index: 1;
} */

/* .sharetohead {
  display: flex;
  justify-content: center;
} */
