body {
  font-family: "Poppins", sans-serif;
  color: white;
  margin: 0;
}

section.mobile {
  width: 414px;
}

section > .container {
  max-width: 1140px;
}

.tiktokhome-container {
  height: 896px;
  /* width: 100%; */
  max-width: 1140px;
  background-image: url("/Users/nurfuad/Desktop/tiktok_ui/mobile-ui/SVG/others/footerbg.png"),
    url("/Users/nurfuad/Desktop/tiktok_ui/mobile-ui/SVG/Background.png");
  /* first is whats closest to user */
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-position: bottom;
}

.topbar {
  /* border: 2px solid white; */
  display: flex;
  justify-content: space-between;
  height: 44px;
}

.time {
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timenum {
  display: flex;
  margin-left: 23.18px;
  line-height: 17.9px;
  margin-top: 13px;
}
.righttopbar {
  display: flex;
  /* border: 2px solid red; */
  justify-content: space-around;
  margin-right: 16px;
  height: 10.5px;
  margin-top: 17px;
}

.signal {
  margin-right: 5.55px;
}

.wifi {
  margin-right: 9.61px;
}

.contentopts {
  display: flex;
  height: 22px;
  justify-content: center;
  align-items: center;
}

.watchopt {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.following {
  display: flex;
  margin-right: 12.5px;
  color: #fff;
  text-align: center;
  font-size: 16px;
}

.foryou {
  display: flex;
  margin-left: 8.5px;
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  font-size: 18px;
}

.followline {
  height: 11px;
}

.sideopts {
  display: flex;
  flex-direction: column;
  margin-top: 389px;
  align-items: center;
  /* justify-content: right; */
}

.pfp,
.heart,
.comments,
.share,
.music {
  display: flex;
  flex-direction: column;
  width: 49px;
  align-items: center;
  margin-left: 357px;
}

.pfp {
  display: flex;
  margin-bottom: 34px;
  width: 47px;
  height: 47px;
}

.heart {
  display: flex;
  margin-bottom: 38.5px;
  width: 35.5px;
  height: 32.359px;
}

.comments {
  display: flex;
  margin-bottom: 41.5px;
  width: 35px;
  height: 33.226px;
}

.share {
  display: flex;
  margin-bottom: 46px;
  width: 34.079px;
  height: 26.841px;
}

.sideoptstext {
  color: #fff;
  text-align: center;
  text-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.3);
  font-size: 13px;
}

.music {
  height: 49px;
  width: 49px;
  display: flex;
  justify-content: center;
}

.musicdiscinner {
  position: absolute;
  display: flex;
}

.floatingtones {
  display: flex;
  position: absolute;
  margin-top: 732.23px;
  margin-left: 301.21px;
}

.userinfo {
  position: absolute;
  display: flex;
  flex-direction: column;
  margin-top: 727px;
  margin-left: 12px;
}

.username {
  display: flex;
  flex-direction: row;
  margin-bottom: 8px;
}

.datetxt,
.songinfotxt {
  color: #ffffff99;
}

.hashtags {
  display: flex;
  flex-direction: row;
  margin-bottom: 7px;
}

.musicicon {
  margin-right: 9px;
}

.footeropts-container {
  display: flex;
  flex-direction: row;
}

.homeicon,
.searchicon,
.inboxicon,
.accounticon,
.addbuttonicon {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  margin-top: 16px;
}

.icontext {
  color: #fff;
  font-size: 10px;
  line-height: normal;
  letter-spacing: 0.15px;
}

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 23.5px;
}
