html {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  color: white;
  /* margin: 20px; */
  /* background-image: url("SVG/Backgroung.png"), ; */
  justify-content: center;
}
.mobile {
  width: 414px;
}

.tiktokcontainer {
  height: 896px;
  width: 100%;
  margin: 20px auto;
  background-image: url("/Users/nurfuad/Desktop/tiktok_ui/mobile-ui/SVG/others/footerbg.png"),
    url("/Users/nurfuad/Desktop/tiktok_ui/mobile-ui/SVG/Background.png");
  /* first is whats closest to user */
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-position: bottom;

  /* border: black solid 2px; */
}

header {
  display: flex;
  /* position: relative; */
  justify-content: space-between;
  padding-top: 13px;
}

.rightstuff {
  display: flex;
  flex-direction: row;
}

.timenum {
  padding-left: 26px;
}

.wifi {
  padding-right: 5.55px;
}

.signal {
  padding-right: 9.61px;
}

.battery {
  padding-right: 14.5px;
}

.contentopts {
  display: flex;
  /* position: relative; */
}

.contentopts {
  justify-content: center;
  padding-top: 55px;
}

.watchopt {
  display: flex;
  flex-direction: row;
}

.followline {
  padding-left: 12.5px;
  padding-right: 8.5px;
}

.sideopts {
  display: flex;
  flex-direction: column;
  padding-right: 12.5px;
  bottom: 95px;
  font-size: 13px;
  align-items: flex-end;
}

.pfp,
.heart,
.comments,
.music,
.share {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.music {
  padding-top: 30px;
}

.share {
  padding-top: 25.5px;
}

.comments {
  padding-top: 22.5px;
}

.heart {
  padding-top: 34px;
}

.musicdisc {
  display: flex;
  position: absolute;
  margin-top: 11px;
}

.info-container {
  padding-left: 12px;
}

.infotxt {
  font-size: 15px;
}

.datetxt {
  font-size: 17px;
  opacity: 80%;
}

.hashtags {
  font-weight: 600;
}

.username {
  display: flex;
  flex-direction: row;
  font-weight: 600;
}

.musicbar {
  font-weight: 400;
}

.bottomopts {
  position: relative;
}

.footeropts-container {
  display: flex;
  align-items: center;
  padding-left: 29.5px;
  padding-right: 32.8px;
  text-align: center;
  align-items: flex-end;
  position: fixed;
  /* fix */
}

.icontext {
  font-size: 10px;

  /* padding-top: 32.17px; */
}
.homeicon,
.searchicon,
.addbutton,
.inboxicon,
.account {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 23.24px;
  height: 20.92px;
  flex-direction: column;
}

.searchicon {
  padding-left: 61.26px;
}

.addbutton {
  padding-left: 51.06px;
}

.inboxicon {
  padding-left: 51.5px;
}

.account {
  padding-left: 63.5px;
}

.addbutton {
  width: 43px;
  height: 28px;
  padding-top: 8.17px;
}

.iphoneslider {
  display: flex;
  position: inherit;
  justify-content: center;
  align-items: flex-end;
  /* right: 50%;
  left: 50%; */
  bottom: 10px;
}
