html {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  color: white;
  /* margin: 20px; */
  /* background-image: url("SVG/Backgroung.png"), ; */
  justify-content: center;
  height: 896px;
}
.mobile {
  width: 414px;
}

.tiktokcontainer {
  height: 896px;
  width: 100%;
  background-image: url("/Users/nurfuad/Desktop/tiktok_ui/mobile-ui/SVG/others/footerbg.png"),
    url("/Users/nurfuad/Desktop/tiktok_ui/mobile-ui/SVG/Background.png");
  /* first is whats closest to user */
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-position: bottom;
}

header {
  display: flex;
  /* position: relative; */
  justify-content: space-between;
  padding-top: 13px;
  bottom: 0px;
  padding-bottom: 0px;
}

.rightstuff {
  display: flex;
  flex-direction: row;
}

.timenum {
  padding-left: 26px;
  height: 18px;
  /* line-height: 18px; */
}

.wifi {
  padding-right: 5.55px;
  height: 10.97px;
}

.signal {
  padding-right: 9.61px;
  height: 10.67px;
}

.battery {
  padding-right: 14.5px;
  height: 10.5px;
}

.contentopts {
  display: flex;
  /* position: relative; */
}

.contentopts {
  justify-content: center;
  padding-top: 26px;
}

.watchopt {
  display: flex;
  flex-direction: row;
}

.following,
.foryou {
  height: 19px;
  font-size: 16px;
}

.followline {
  padding-left: 12.5px;
  padding-right: 8.5px;
  width: 1px;
  height: 11px;
  color: rgba(255, 255, 255, 0.2);
  padding-top: 5.17px;
}

.sideopts {
  display: flex;
  flex-direction: column;
  padding-right: 12.5px;
  font-size: 13px;
  align-items: flex-end;
  margin-top: 339px;
  width: 47px;
  margin-left: 353px;
  /* margin-bottom: 00px; */
}

.pfp,
.heart,
.comments,
.music,
.share {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.music {
  padding-top: 30px;
}

.share {
  padding-top: 25.5px;
}

.comments {
  padding-top: 22.5px;
}

.heart {
  padding-top: 34px;
}

.musicdisc {
  display: flex;
  position: absolute;
  margin-top: 11px;
}

.sideoptstext {
  height: 16px;
}

.info-container {
  margin-left: 12px;
  position: absolute;
  margin-top: 727px;
  margin-right: 138px;
}

.infotxt {
  font-size: 15px;
  line-height: 19.5px;
}

.datetxt {
  font-size: 17px;
  opacity: 80%;
}

.hashtags {
  font-weight: 600;
}

.username {
  display: flex;
  flex-direction: row;
  font-weight: 600;
}

.musicbar {
  width: 230px;
  background: linear-gradient(
    270deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.9) 5.21%,
    rgba(255, 255, 255, 0.9) 95.83%,
    rgba(255, 255, 255, 0) 100%,
    rgba(255, 255, 255, 0) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.musicicon {
  width: 12px;
  height: 12px;
  padding-right: 9px;
}

.floatingtones {
  display: flex;
  justify-content: right;
  align-items: center;
}

.singlenote {
  display: flex;
  margin-right: 47.61px;
}

.double2note {
  display: flex;
  /* margin-right: 47.61px; */
  position: absolute;
  border: white solid 2px;
  height: 12.26px;
  width: 15.36px;
  left: 40.2px;
}

.double2notefade {
  display: flex;
  border: white solid 2px;
  right: 81.27px;
  position: relative;
  bottom: 58.68px;
  height: 18.94px;
  width: 14.51px;
}

.bottomopts {
  position: relative;
  margin-top: 17px;
}

.footeropts-container {
  display: flex;
  align-items: center;
  text-align: center;
  align-items: flex-end;
  padding-bottom: 38.5px;
  padding-left: 29.5px;
}

.icontext {
  font-size: 10px;
}

.homeicon,
.searchicon,
.inboxicon,
.account {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 23.24px;
  height: 20.92px;
  flex-direction: column;
  margin-top: 17px;
}

.searchicon {
  padding-left: 61.26px;
  padding-right: 133px;
}

.addbutton-container {
  display: flex;
  height: 28px;
  align-items: center;
  /* margin-top: 18.5px; */
  position: absolute;
}

.account {
  padding-left: 63.5px;
}

.addbutton {
  width: 43px;
  height: 28px;
  /* padding-top: 73.5px; */
  padding-bottom: 31.5px;
  position: absolute;
}

.iphoneslider,
.addbutton-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
